
@{
    ViewBag.Title = "Phân bố tài sản";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutQTV.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Phân bố</a></li>
                    <li class="breadcrumb-item ">Phân bố tài sản</li>
                </ol>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h4 class="header-title">Quản lý phân bố</h4>
                <p class="text-muted font-14">
                    Phân bố các tài sản, công cụ dụng cụ cho các phòng học, ngoài ra có thể chỉnh sửa một cách dễ dàng với những người dùng có phân quyền tương ứng...
                </p>
                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#pb_view" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Phân bố
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#dspb_view" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Xem danh sách phân bố
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="pb_view">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="example-readonly" class="form-label">Người dùng đang thêm: </label>
                                    <input type="text" id="example-readonly" class="form-control" readonly="" value="testtaikhoan123">
                                </div>

                                <div class="mb-3">
                                    <label for="TenPhong" class="form-label">Chọn phòng cần phân bố: </label>
                                    <!-- Chọn phòng -->
                                    <select onchange="" id="MaPhong" name="MaPhong" class="form-control select2" data-toggle="select2">
                                    </select>
                                </div>


                                <div class="mb-3">
                                    <label for="TS-CDCC" class="form-label">Chọn phòng TS-CDCC cần thêm vào phòng: </label>
                                    <!-- Chọn TS-CDCC -->
                                    <select id="TaiSan" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Chọn TS-CDCC...">
                                    </select>
                                </div>

                            </div>



                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="GhiChu" class="form-label">Ghi chú:</label>
                                    <textarea class="form-control" id="GhiChu" rows="4"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button type="button" id="XacNhan_Them" class="btn btn-success">Xác nhận thêm</button>
                                    <button type="button" id="Huy_Them" class="btn btn-danger">Hủy thêm</button>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="tab-pane show" id="dspb_view">
                        <div class="row">
                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col-xl-8">
                                        <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                                            <div class="col-auto">
                                                <label for="inputPassword2" class="visually-hidden">Search</label>
                                                <input type="search" class="form-control" id="inputPassword2" placeholder="Tìm kiếm...">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="text-xl-end mt-xl-0 mt-2">
                                            <button type="button" class="btn btn-light mb-2">Import</button>
                                            <button type="button" class="btn btn-light mb-2">Export</button>
                                        </div>
                                    </div><!-- end col-->
                                </div>

                                <div class="table-responsive">
                                    <table id="table_pb" class="table table-centered mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th style="text-align:center;">STT</th>
                                                <th style="text-align:center;">Tên phòng</th>
                                                <th style="width: 400px; text-align: center;">Tổng số lượng TS-CCDC hiện có</th>
                                                <th style="text-align:center;">Ngày tạo</th>
                                                <th style="width: 400px;text-align: center;">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end col -->
                        </div>
                    </div>





                </div>



            </div>
        </div>
    </div>
</div>

<div id="modal_chitiet_phanbo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <p style="text-align:center;font-weight: bold; font-size: 22px;" class="modal-title" id="modal_tieude">Chi tiết phân bố</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

               


                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <center><p style="color: yellow; font-weight: bold; font-size: 20px;" class="header-title">Chi tiết các tài sản có trong phòng học</p></center>
                                <hr>
                                
                                <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>Mã tài sản</th>
                                            <th>Thuộc nhóm tài sản</th>
                                            <th>Tên tài sản</th>
                                            <th>Số lượng</th>
                                            <th>Hãng sản xuất</th>
                                            <th>Năm sản xuất</th>
                                            <th>Nước sản xuất</th>
                                            <th>Ghi chú</th>
                                            <th>Ngày thêm</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                      
                                        

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>






            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Thêm tài sản cho phòng này</button>
                <button type="button" class="btn btn-primary">Chỉnh sửa tài sản phòng này</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Tắt</button>
            </div>
                        </div>
                    </div>
                </div>



<script>

$(document).ready(function () {
    //LoadData_Option_TaiSan();
    LoadData_Option_Phong();
    LoadData_PhanBo();
    $('#MaPhong').on('select2:select', function (e) {
        var data = e.params.data;
        if (data.id != "Chọn phòng....") {
            LoadData_Option_TaiSan(data.id);
        }

    });
});



$("#XacNhan_Them").click(function () {
    var MaPhong = $('#MaPhong').select2('data')[0].id;
    if (MaPhong.toString() != "Chọn phòng....") {
        if ($('#TaiSan :selected').length <= 0) {
            ThongBao("Có lỗi !!!", "Vui lòng không để trống TS-CDCC");
        } else {



            $.confirm({
                title: 'Thông báo',
                content: "Bạn có chắc chắn muốn thêm TS-CDCC này vào phòng: " + $('#MaPhong').select2('data')[0].text,
                theme: 'dark',
                buttons: {
                    XacNhan: {
                        text: 'Xác nhận', btnClass: 'btn-success', action: function () {
                            $('#TaiSan :selected').each(function (i, sel) {
                                Add_PhanBo($(sel).val(), 2, MaPhong, $("#GhiChu").val());
                            });
                            setTimeout(function () {
                                LoadData_PhanBo();
                                LoadData_Option_Phong();
                                $("#GhiChu").val("");
                                $("#TaiSan").empty();
                                ThongBao("Thành công", "Phân bố TS-CDCC thành công !!!");
                            }, 100);
                        }
                    },
                    HuyBo: {
                        text: 'Hủy bỏ', btnClass: 'btn-warning', action: function () {
                            ThongBao("Thành công", "Đã hủy bỏ thêm phòng !!!");
                        }
                    }
                }
            });



        }
    } else {
        ThongBao("Có lỗi !!!", "Vui lòng chọn phòng cần thêm tài sản...");
    }
});




$("#Huy_Them").click(function () {
    LoadData_Option_Phong();
    LoadData_PhanBo();
    $("#GhiChu").val("");
    $("#TaiSan").empty();
});



function LoadData_Option_Phong() {
    $("#MaPhong").empty();
    $('#MaPhong').append($('<option>', { value: "Chọn phòng....", text: "Chọn phòng...." }));
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_Phong", "Phong")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        async: true,
        processData: false,
        cache: false,
        success: function(data) {
            var items = '';
            $.each(data.data, function(i, item) {
                $('#MaPhong').append($('<option>', {value: item.MaPhong,text: item.TenPhong}));
            });
        },
        error: function(ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
}

function LoadData_Option_TaiSan(iMaPhong) {
    $("#TaiSan").empty();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_TaiSan", "TaiSan")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        async: true,
        processData: false,
        cache: false,
        success: function (data) {
            var items = '';
            $.each(data.data, function (i, item) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("LoadTaiSan_TheoMaPhong", "PhanBo")',
                dataType: 'json',
                data: { iMaPhong: iMaPhong, iMaTS: item.MaTS },
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data.code == false) {
                        if (item.SoLuong >= 1) {
                            $('#TaiSan').append($('<option>', { value: item.MaTS, text: item.TenTS + " - Số lượng còn lại: " + item.SoLuong }));
                        }
                  }
            },
            error: function (ex) {
                alert("Không có loại phòng này !!!");
            }
            });



            });
        },
        error: function (ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
}



function LoadData_PhanBo() {
    $("#table_pb tbody tr").remove();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_PhanBo", "PhanBo")',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        async: true,
        processData: false,
        cache: false,
        success: function (data) {
            var items = '';
            var iii = 1;
            $.each(data.data, function (i, item) {
                var rows = "<tr style='font-size: 16px;'>"
                    + "<td style='font-weight: bold;text-align:center;'>#" + iii++ + "</td>"
                    + '<td style="font-weight: bold;text-align:center;color:red">' + item.TenPhong + "</td>"
                    + '<td style="font-weight: bold;text-align:center;color:yellow">' + item.SoLuong + "</td>"
                    + "<td style='font-style: italic;text-align:center;'>" + ToJavaScriptDate(item.NgayTao) + "</td>"
                    + '<td style="text-align:center;">'
                    + '<button type="button" onclick = "Detail_PhanBo(' + item.MaPhong + ')" class="btn btn-info"><i class="mdi mdi-eye"></i>Xem chi tiết</button>'
                    + "</td>";
                $('#table_pb').append(rows);
            });
        },
        error: function (ex) {
            alert("Error_Load_Data");
        }
    });
    return false;
}

function LoadData_PhanBo_Theo_MaPhong(MaPhong) {

    return false;
}

function Add_PhanBo(MaTS, MaND, MaPhong, GhiChu) {
    $.ajax({
        url: '@Url.Action("Insert_PhanBo_SoLuong_One", "PhanBo")',
        dataType: "json",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({ MaTS: MaTS, MaND: MaND, MaPhong: MaPhong, SoLuong: 1, GhiChu: GhiChu }),
        async: true,
        processData: false,
        cache: false,
        success: function (data) {
            if (data.code == true) {
                return true;
            } else {
                return false;
            }
        },
        error: function (xhr) {
            alert("Error_Load_Data");
        }
    })
}

function Detail_PhanBo(MaPhong) {
    $("#basic-datatable tbody tr").remove();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Select_PhanBo_Theo_MaPhong", "PhanBo")',
        data: { MaPhong: MaPhong },
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        cache: false,
        success: function (data) {
            var items = '';
            $.each(data.data, function (i, item) {
                var rows = "<tr>"
                    + "<td>#" + item.MaTS + "</td>"
                    + '<td><h3><span class="badge bg-success text-light">' + item.TenNhomTS + '</span></h3></td>'
                    + '<td><h3><span class="badge bg-secondary text-light">' + item.TenTS + '</span></h3></td>'
                    + '<td><h4><span class="badge bg-danger">' + item.SoLuong + '</span></h4></td>'
                    + "<td>" + item.HangSanXuat + "</td>"
                    + "<td>" + item.NamSanXuat + "</td>"
                    + "<td>" + item.NuocSanXuat + "</td>"
                    + "<td>" + item.GhiChu + "</td>"
                    + "<td>" + ToJavaScriptDate(item.NgayCapNhat) + "</td>"
                $('#basic-datatable').append(rows);
                setTimeout(function () {
                    $("#modal_chitiet_phanbo").modal("show");
                }, 100);
            });
        },
        error: function (ex) {
            $("#basic-datatable tbody tr").remove();
            $("#modal_chitiet_phanbo").modal("hide");
            alert("Error_Load_Data");
        }
    });
    
}


function ThongBao(title, content) {
    $.alert({
        title: title,
        theme: 'dark',
        content: content,
    });
}







</script>
